html {
  font-size: 14px;
}

@media (min-width: 1200px) {
    html {
        font-size: 16px;
    }

    .coluna-card {
        max-width: 310px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #E8ECED;
}

.opcao-card {
    max-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}